numpy==1.24.4
tqdm==4.66.2
scikit-learn==1.3.2
matplotlib==3.7.5
pandas==2.0.3
seaborn==0.13.2
jupyter==1.0.0
black==24.4.2
torchmetrics==1.3.2
seaborn==0.13.2
optuna==3.6.1
optuna-integration==3.6.0
catboost==1.2.5
imblearn==0.0